# [Data Preparing](https://github.com/CMACH508/DeepTrader?tab=readme-ov-file#data-preparing)

In [1]:
DJIA = "^DJI"
# 2025-12-31 updated DJIA stocks list (intersect)
DJIA_STOCKS = [
    "AXP", "BA", "CAT", "CSCO", "CVX", "DIS",
    "GS", "HD", "IBM", "JNJ", "JPM", "KO",
    "MCD", "MMM", "MRK", "MSFT", "NKE", "PG",
    "TRV", "UNH", "V", "VZ", "WMT"
]
print(f"Total stocks to process: {len(DJIA_STOCKS)}")

Total stocks to process: 23

### ^DJI大盤資料下載

In [3]:
import yfinance as yf
from curl_cffi import requests as curl_requests

# 創建一個模擬 Chrome 瀏覽器的 session
session = curl_requests.Session(impersonate="chrome")

In [4]:
djia_history = yf.download('^DJI', start='2025-12-20', end='2026-01-01', progress=False, auto_adjust=False, session=session)
djia_history

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,^DJI,^DJI,^DJI,^DJI,^DJI,^DJI
Date,,,,,,
2025-12-22,48362.679688,48362.679688,48457.468750,48199.128906,48211.878906,427050000
2025-12-23,48442.410156,48442.410156,48527.500000,48254.308594,48320.589844,418920000
2025-12-24,48731.160156,48731.160156,48771.320312,48386.589844,48424.710938,206740000
2025-12-26,48710.968750,48710.968750,48782.000000,48589.070312,48712.468750,288770000
2025-12-29,48461.929688,48461.929688,48704.828125,48390.910156,48636.628906,321850000
2025-12-30,48367.058594,48367.058594,48471.699219,48297.261719,48434.878906,282570000
2025-12-31,48063.289062,48063.289062,48394.511719,48050.878906,48371.519531,336060000

In [ ]:
DJIA # you can change to other index like "^GSPC" "^VIX"
# 僅第一次需要session
djia_history = yf.download('^DJI', start='2000-01-01', end='2026-01-01', progress=False, auto_adjust=False, session=session)
djia_history.columns = djia_history.columns.droplevel(level=1)
djia_history = djia_history[["Open", "High", "Low", "Close", "Adj Close", "Volume"]]
djia_history.to_csv(f"./^DJI.csv")
djia_history

Price,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2025-12-24,6904.910156,6937.319824,6904.910156,6932.049805,6932.049805,1798270000
2025-12-26,6936.020020,6945.770020,6921.600098,6929.939941,6929.939941,2586550000
2025-12-29,6903.600098,6920.209961,6888.759766,6905.740234,6905.740234,3541750000
2025-12-30,6900.439941,6913.250000,6893.470215,6896.240234,6896.240234,3309930000
2025-12-31,6898.819824,6901.419922,6844.549805,6845.500000,6845.500000,3261830000

In [ ]:
djia_ticker = yf.Ticker(DJIA)
djia_history = djia_ticker.history(start='2000-01-01', end='2026-01-01', auto_adjust=False)
djia_history

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2000-01-03 00:00:00-05:00,11501.849609,11522.009766,11305.690430,11357.509766,11357.509766,169750000,0.0,0.0
2000-01-04 00:00:00-05:00,11349.750000,11350.059570,10986.450195,10997.929688,10997.929688,178420000,0.0,0.0
2000-01-05 00:00:00-05:00,10989.370117,11215.099609,10938.669922,11122.650391,11122.650391,203190000,0.0,0.0
2000-01-06 00:00:00-05:00,11113.370117,11313.450195,11098.450195,11253.259766,11253.259766,176550000,0.0,0.0
2000-01-07 00:00:00-05:00,11247.059570,11528.139648,11239.919922,11522.559570,11522.559570,184900000,0.0,0.0
...,...,...,...,...,...,...,...,...
2025-03-24 00:00:00-04:00,42180.140625,42638.851562,42180.140625,42583.320312,42583.320312,548840000,0.0,0.0
2025-03-25 00:00:00-04:00,42635.539062,42696.609375,42441.828125,42587.500000,42587.500000,452200000,0.0,0.0
2025-03-26 00:00:00-04:00,42655.851562,42821.828125,42326.671875,42454.789062,42454.789062,592650000,0.0,0.0
2025-03-27 00:00:00-04:00,42432.960938,42523.839844,42142.191406,42299.699219,42299.699219,484540000,0.0,0.0
2025-03-28 00:00:00-04:00,42245.820312,42258.148438,41530.000000,41583.898438,41583.898438,532360000,0.0,0.0

In [5]:
# Get the earliest available date for the DJIA index
djia_ticker = yf.Ticker(DJIA)
djia_history = djia_ticker.history(period="max") # auto_adjust is False by default
if not djia_history.empty:
    djia_earliest_date = djia_history.index.min()
    print("DJIA earliest date:", djia_earliest_date)
else:
    print("No historical data found for DJIA.")

# Get the earliest available date for each stock in DJIA_STOCKS\
# Create a Tickers object for multiple stocks
djia_tickers = yf.Tickers(" ".join(DJIA_STOCKS))

# Dictionary to hold each stock's earliest date
stocks_earliest_dates = {}

for stock in DJIA_STOCKS:
    ticker = djia_tickers.tickers[stock]
    stock_history = ticker.history(period="max")
    if not stock_history.empty:
        earliest_date = stock_history.index.min()
        stocks_earliest_dates[stock] = earliest_date
    else:
        stocks_earliest_dates[stock] = None

print("DJIA Stocks earliest dates:")
for stock, date in stocks_earliest_dates.items():
    print(f"{stock}: {date}")

DJIA earliest date: 1992-01-02 00:00:00-05:00
DJIA Stocks earliest dates:
AXP: 1972-06-01 00:00:00-04:00
BA: 1962-01-02 00:00:00-05:00
CAT: 1962-01-02 00:00:00-05:00
CSCO: 1990-02-16 00:00:00-05:00
CVX: 1962-01-02 00:00:00-05:00
DIS: 1962-01-02 00:00:00-05:00
GS: 1999-05-04 00:00:00-04:00
HD: 1981-09-22 00:00:00-04:00
IBM: 1962-01-02 00:00:00-05:00
JNJ: 1962-01-02 00:00:00-05:00
JPM: 1980-03-17 00:00:00-05:00
KO: 1962-01-02 00:00:00-05:00
MCD: 1966-07-05 00:00:00-04:00
MMM: 1962-01-02 00:00:00-05:00
MRK: 1962-01-02 00:00:00-05:00
MSFT: 1986-03-13 00:00:00-05:00
NKE: 1980-12-02 00:00:00-05:00
PG: 1962-01-02 00:00:00-05:00
TRV: 1975-11-17 00:00:00-05:00
UNH: 1984-10-17 00:00:00-04:00
V: 2008-03-19 00:00:00-04:00
VZ: 1983-11-21 00:00:00-05:00
WMT: 1972-08-25 00:00:00-04:00

In [6]:
import datetime

for i in range(2000, 2026):
	stocks_to_remove = []
	target_date = datetime.date(i, 1, 10)
	for stock, dt in stocks_earliest_dates.items():
		if dt is None or dt.replace(tzinfo=None).date() > target_date:
			stocks_to_remove.append(stock)
	# print("Stocks to remove:", stocks_to_remove)
	print(str(i) + " " + str(len(stocks_to_remove)))

2000 1
2001 1
2002 1
2003 1
2004 1
2005 1
2006 1
2007 1
2008 1
2009 0
2010 0
2011 0
2012 0
2013 0
2014 0
2015 0
2016 0
2017 0
2018 0
2019 0
2020 0
2021 0
2022 0
2023 0
2024 0
2025 0

In [25]:
import datetime

stocks_to_remove = []
target_date = datetime.date(2015, 1, 4)
for stock, dt in stocks_earliest_dates.items():
	if dt is None or dt.replace(tzinfo=None).date() > target_date:
		stocks_to_remove.append(stock)
print("Stocks to remove:", stocks_to_remove)
print(len(stocks_to_remove))

for stock in stocks_to_remove:
	if stock in DJIA_STOCKS:
		DJIA_STOCKS.remove(stock)

Stocks to remove: []
0

In [1]:
import pandas as pd

# Generate business days for the fixed date range
business_days = pd.bdate_range(start="2015-01-01", end="2025-12-31")
print("Total business days:", len(business_days))
print()

intervals = {
    "Training": ("2015/01/01", "2020/12/31"),
    "Validation": ("2021/01/01", "2023/12/31"),
    "Test": ("2024/01/01", "2025/12/31"),
}
for interval_name, (start_date, end_date) in intervals.items():
    interval_days = pd.bdate_range(start=start_date, end=end_date)
    start_idx = business_days.get_loc(interval_days[0])  # find the start index
    end_idx = business_days.get_loc(interval_days[-1])   # find the end index
    total_days = len(interval_days)  # calculate the total number of business days
    
    print(f"{interval_name}:")
    print(f"  Start Index = {start_idx}")
    print(f"  End Index = {end_idx}")
    print(f"  Total Business Days = {total_days}\n")

Total business days: 2870

Training:
  Start Index = 0
  End Index = 1565
  Total Business Days = 1566

Validation:
  Start Index = 1566
  End Index = 2346
  Total Business Days = 781

Test:
  Start Index = 2347
  End Index = 2869
  Total Business Days = 523

In [27]:
intervals = {
    "train-1": ("2000/01/01", "2003/12/31"),
    "train-2": ("2001/01/01", "2004/12/31"),
    "train-3": ("2002/01/01", "2005/12/31"),
    "train-4": ("2003/01/01", "2006/12/31"),
    "train-5": ("2004/01/01", "2007/12/31"),
    "train-6": ("2005/01/01", "2008/12/31"),
    "train-7": ("2006/01/01", "2009/12/31"),
    "train-8": ("2007/01/01", "2010/12/31"),
    "train-9": ("2008/01/01", "2011/12/31"),
    "train-10": ("2009/01/01", "2012/12/31"),
    "train-11": ("2010/01/01", "2013/12/31"),
    "train-12": ("2011/01/01", "2014/12/31"),
    "Validation": ("2012/01/01", "2015/12/31"),
    "Test": ("2016/01/01", "2023/12/31"),
}
for interval_name, (start_date, end_date) in intervals.items():
    interval_days = pd.bdate_range(start=start_date, end=end_date)
    start_idx = business_days.get_loc(interval_days[0])  # find the start index
    end_idx = business_days.get_loc(interval_days[-1])   # find the end index
    total_days = len(interval_days)  # calculate the total number of business days
    
    print(f"{interval_name}:")
    print(f"  Start Index = {start_idx}")
    print(f"  End Index = {end_idx}")
    print(f"  Total Business Days = {total_days}\n")

train-1:
  Start Index = 0
  End Index = 1042
  Total Business Days = 1043

train-2:
  Start Index = 260
  End Index = 1304
  Total Business Days = 1045

train-3:
  Start Index = 521
  End Index = 1564
  Total Business Days = 1044

train-4:
  Start Index = 782
  End Index = 1824
  Total Business Days = 1043

train-5:
  Start Index = 1043
  End Index = 2085
  Total Business Days = 1043

train-6:
  Start Index = 1305
  End Index = 2347
  Total Business Days = 1043

train-7:
  Start Index = 1565
  End Index = 2608
  Total Business Days = 1044

train-8:
  Start Index = 1825
  End Index = 2869
  Total Business Days = 1045

train-9:
  Start Index = 2086
  End Index = 3129
  Total Business Days = 1044

train-10:
  Start Index = 2348
  End Index = 3390
  Total Business Days = 1043

train-11:
  Start Index = 2609
  End Index = 3651
  Total Business Days = 1043

train-12:
  Start Index = 2870
  End Index = 3912
  Total Business Days = 1043

Validation:
  Start Index = 3130
  End Index = 4173
  Total Business Days = 1044

Test:
  Start Index = 4174
  End Index = 6259
  Total Business Days = 2086